::after,*::before{box-sizing: border-box;}

#header{

    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(235, 164, 72);
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

}

#logo{
    background-image: url(../imagens-hf/logo_branca.png);
    background-repeat: no-repeat;
    width: 15%;
    height: 10%;
}

h1#logo a{
    text-decoration: none;
    display: block;
   
    height: 100%;
    
    text-indent: -999999em;
}